# Ignore caches from clangd
.cache

# Ignore local vscode config files
.vscode

# Ignore local visual studio files
.vs

# Ignore build directories
build

# Doxygen related stuffs
docs/doxygen/build

# Vcpkg related stuffs
vcpkg_installed

# imgui configuration
imgui.ini